<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>http</title>
    <script type="text/javascript" src="../js/angular.min.js"></script>
</head>

<body ng-app="myApp">


    <div ng-controller="firstController">

        <input type="text" ng-model="search" />
        <br/>

        <ul>
            <li ng-repeat="item in list">{{item}}</li>
        </ul>


    </div>
</body>
</html>
<script>
var app=angular.module('myApp',[]);

app.controller('firstController',function($scope, $http, $timeout){
	
	$scope.search = '';
	$scope.$watch('search',function(newVal,oldVal){
		
        var url = 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd='+newVal+'&cb=JSON_CALLBACK';
		
		$timeout(function(){
			
			$http.jsonp(url).success(function(res){
				$scope.list = res.s;
				
			}).error(function(){
				alert('请求数据失败!!');
			})
			
		},500)
	})














    /*$scope.search='aa';

    $scope.$watch('search', function (newValue, oldValue) {

        // console.log(newValue + '--' + oldValue);

        $timeout(function(){

            var url = 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd='+newValue+'&cb=JSON_CALLBACK';

            console.log(url);

            $http.jsonp(url).success(function(result){    // 成功回调函数
                        
                        console.log(result);
                        $scope.list=result.s;

                    }).error(function(){    // 失败回调函数

                        alert('数据请求失败！');

                });

        },2000)

    })*/

})

</script>
